@tailwind base;
@tailwind components;
@tailwind utilities;



*{
   font-family: 'Poppins', sans-serif !important;
   scroll-behavior: smooth;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: base,
  
}

.scrollList{
  overflow-y: scroll;
  /* height: calc(100vh - 275px); */
  margin-bottom: 4rem;
}
